<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="File">

    <insert id="insert" parameterType="FileInfo">
        insert into P_file(fileCode,fileId,fileName,fileType,fileSize,filePath,createTime,childFile) VALUES ((#{fileCode},#{fileId},#{fileName},#{fileType},#{fileSize},#{filePath},NOW(),#{childFile});
    </insert>

    <!-- 批量添加任务 -->
    <insert id="insertFileBatch" parameterType="java.util.List">
        insert p_file(fileCode,fileId,fileName,fileType,filePath,createTime,childFile)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.fileCode},#{item.fileId},#{item.fileName},#{item.fileType},#{item.filePath},NOW(),#{item.childFile})
        </foreach>
    </insert>
</mapper>