<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="Task">

    <!-- 模板 慎用 会导致没有where 项时 查出全部数据，要用的话要在业务逻辑中增加查询验证标准-->
    <select id="select" resultType="Task">
        SELECT
            p_task_subbmit.taskId,
            p_task_subbmit.`comment`,
            p_task_subbmit.submitter,
            p_task_subbmit.submitterId,
            p_task_subbmit.fileCode,
            p_task_subbmit.isReceive,
            p_task_subbmit.finishedTime
            FROM `p_task_subbmit`
    </select>

    <insert id="saveTask" parameterType="Task">
        insert into P_task_subbmit(
        <trim suffixOverrides=",">
            <if test="taskId != null and taskId != ''">
                taskId,
            </if>

            <if test="comment != null and comment != ''">
                comment,
            </if>

            <if test="submitter != null and submitter != ''">
                submitter,
            </if>

            <if test="submitterId != null and submitterId != ''">
                submitterId,
            </if>

            <if test="fileCode != null and fileCode != ''">
                fileCode,
            </if>

            <if test="finishedTime != null and finishedTime != ''">
                finishedTime,
            </if>

            <if test="isReceive != null and isReceive != ''">
                isReceive,
            </if>

        </trim>
        )
        values(
        <trim suffixOverrides=",">

            <if test="taskId != null and taskId != ''">
                #{taskId},
            </if>


            <if test="comment != null and comment != ''">
                #{comment},
            </if>

            <if test="submitter != null and submitter != ''">
                #{submitter},
            </if>

            <if test="submitterId != null and submitterId != ''">
                #{submitterId},
            </if>

            <if test="fileCode != null and fileCode != ''">
                #{fileCode},
            </if>

            <if test="finishedTime != null and finishedTime!= ''">
                #{finishedTime},
            </if>

            <if test="isReceive != null and isReceive!= ''">
                #{isReceive},
            </if>

        </trim>
        )
    </insert>

    <delete id="deleteTaskById" parameterType="String">
        delete from P_task_subbmit where
        taskId=#{taskId}
    </delete>
</mapper>