<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >

<mapper namespace="User">
    

    <select id="selectAll" parameterType="User" resultType="User">
        select userId,username,password,nickname,email,phoneNumber,role from P_user
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="userId !='' and userId !=null">
                    and `userId` = #{userId}
            </if>
            
            <if test="username !='' and username !=null">
                    and `username` = #{username}
            </if>
            
            <if test="password !='' and password !=null">
                    and `password` = #{password}
            </if>
            
            <if test="nickname !='' and nickname !=null">
                    and `nickname` = #{nickname}
            </if>
            
            <if test="email !='' and email !=null">
                    and `email` = #{email}
            </if>
            
            <if test="phoneNumber !='' and phoneNumber !=null">
                    and `phoneNumber` = #{phoneNumber}
            </if>
            
            <if test="role !='' and role !=null">
                    and `role` = #{role}
            </if>

            <if test="disabled !='' and disabled !=null">
                and `disabled` = #{disabled}
            </if>
            
        </trim>
    </select>


    <update id="updateById" parameterType="User">
        update P_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username !='' and username !=null">
                `username` = #{username},
            </if><if test="password !='' and password !=null">
            `password` = #{password},
        </if><if test="nickname !='' and nickname !=null">
            `nickname` = #{nickname},
        </if><if test="email !='' and email !=null">
            `email` = #{email},
        </if><if test="phoneNumber !='' and phoneNumber !=null">
            `phoneNumber` = #{phoneNumber},
        </if><if test="role !='' and role !=null">
            `role` = #{role},
        </if>
        </trim>
        where userId=#{userId}
    </update>

    <update id="deleteUserById" parameterType="User">
        update P_user set disabled = 0
        where userId = #{userId}
    </update>

    <delete id="deleteUserById1" parameterType="User">
        delete from P_user where
        userId=#{userId}
    </delete>

    <insert id="addUser" parameterType="User">
        insert into P_user(
        <trim suffixOverrides=",">
            <if test="userId != null and userId != ''">
                userId,
            </if>

            <if test="username != null and username != ''">
                username,
            </if>

            <if test="password != null and password != ''">
                password,
            </if>

            <if test="nickname != null and nickname != ''">
                nickname,
            </if>

            <if test="email != null and email != ''">
                email,
            </if>

            <if test="phoneNumber != null and phoneNumber != ''">
                phoneNumber,
            </if>

            <if test="role != null and role != ''">
                role,
            </if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">

            <if test="userId != null and userId != ''">
                #{userId},
            </if>


            <if test="username != null and username != ''">
                #{username},
            </if>

            <if test="password != null and password != ''">
                #{password},
            </if>

            <if test="nickname != null and nickname != ''">
                #{nickname},
            </if>

            <if test="email != null and email != ''">
                #{email},
            </if>

            <if test="phoneNumber != null and phoneNumber != ''">
                #{phoneNumber},
            </if>

            <if test="role != null and role != ''">
                #{role},
            </if>

        </trim>
        )
    </insert>

    <select id="verifyAccount" parameterType="User" resultType="User">
        select * from P_user WHERE username = #{username}
    </select>

    <select id="login" parameterType="User" resultType="User">
        select * FROM P_user WHERE username = #{username} AND password = #{password}
    </select>
</mapper>